<!-- Modal -->
<div class="modal fade" {% block whateddoid %}id="ourmodal"{% endblock %} tabindex="-1" role="dialog" aria-labelledby="ourmodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ourmodal">What we do?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p> 
            
      We have created an inteligent platform that helps you beyond just budgeting! PersonalisedFinance is an 'on the go' budget  manager that helps get custom financial information!
      <br><br>
       All you do is enter your income and expenditure and next time you want 
      to make a financial decsion you are not sure about, you can use our custom financial information services that will give you information 
      on your next purchase like magic.  
      <br><br>
      Anything from, should I get take aways 
      or make lunch, should I take a loan for this or save for it? Using real time data analytics and having an understanding of your budget, the 
      app is able to provide simple and relavent financial information to consider about your decsion. 
      <br><br>
      Along with financial information, we give you a comprehensive dashboard and daily finance logger to manage your finances easily.
      <br>
      <b>Create an account now and learn more about your own budget!</b>  
      
      </p>
        <iframe width=320" height="180"
src="https://player.vimeo.com/video/352069048?h=51d307a40c">
</iframe>

      </div>
      
      <div class="modal-footer">
      <a class="btn btn-danger" href="{% url 'consent' %}" role="button">Try Now</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
      </div>
    </div>
  </div>
</div>